<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.starjobs.mapper.RefreshJobMapper" >
  <resultMap id="BaseResultMap" type="com.starjobs.pojo.RefreshJob" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="com_id" property="comId" jdbcType="INTEGER" />
    <result column="job_id" property="jobId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="refresh_cost" property="refreshCost" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, com_id, job_id, create_time, refresh_cost
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.starjobs.pojo.RefreshJobExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from refresh_job
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from refresh_job
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from refresh_job
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.starjobs.pojo.RefreshJobExample" >
    delete from refresh_job
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.starjobs.pojo.RefreshJob" >
    insert into refresh_job (id, com_id, job_id, 
      create_time, refresh_cost)
    values (#{id,jdbcType=INTEGER}, #{comId,jdbcType=INTEGER}, #{jobId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{refreshCost,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.starjobs.pojo.RefreshJob" >
    insert into refresh_job
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="comId != null" >
        com_id,
      </if>
      <if test="jobId != null" >
        job_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="refreshCost != null" >
        refresh_cost,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="comId != null" >
        #{comId,jdbcType=INTEGER},
      </if>
      <if test="jobId != null" >
        #{jobId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refreshCost != null" >
        #{refreshCost,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.starjobs.pojo.RefreshJobExample" resultType="java.lang.Integer" >
    select count(*) from refresh_job
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update refresh_job
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.comId != null" >
        com_id = #{record.comId,jdbcType=INTEGER},
      </if>
      <if test="record.jobId != null" >
        job_id = #{record.jobId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.refreshCost != null" >
        refresh_cost = #{record.refreshCost,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update refresh_job
    set id = #{record.id,jdbcType=INTEGER},
      com_id = #{record.comId,jdbcType=INTEGER},
      job_id = #{record.jobId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      refresh_cost = #{record.refreshCost,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.starjobs.pojo.RefreshJob" >
    update refresh_job
    <set >
      <if test="comId != null" >
        com_id = #{comId,jdbcType=INTEGER},
      </if>
      <if test="jobId != null" >
        job_id = #{jobId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refreshCost != null" >
        refresh_cost = #{refreshCost,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.starjobs.pojo.RefreshJob" >
    update refresh_job
    set com_id = #{comId,jdbcType=INTEGER},
      job_id = #{jobId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      refresh_cost = #{refreshCost,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 分页查询 -->
  <sql id="orderGroupLimit">
      <if test="groupBy != null and groupBy != ''">group by  ${groupBy} </if>
      <if test="orderBy != null and orderBy != ''">order by  ${orderBy} </if>
      <if test="offset != null and limit != null">
           limit #{offset}, #{limit}
      </if>
  </sql>
  <select id="queryRefreshList" parameterType="hashmap" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"/>
  	from refresh_job
  	WHERE 1=1
    <if test="comId != null" >
        and com_id = #{comId}
    </if>
    <if test="createTime != null" >
        and create_time = #{createTime}
    </if>
    <if test="refreshCost != null" >
        and refresh_cost=#{refreshCost}
    </if>
    <include refid="orderGroupLimit"/>
  </select>
  <select id="queryRefreshTotal" parameterType="hashmap" resultType="int">
    SELECT count(*) FROM refresh_job
    WHERE 1=1
    <if test="comId != null" >
        and com_id = #{comId}
    </if>
    <if test="createTime != null" >
        and create_time = #{createTime}
    </if>
    <if test="refreshCost != null" >
        and refresh_cost=#{refreshCost}
    </if>
        <if test="groupBy != null">group by  ${groupBy} </if>
   </select>
    
</mapper>