<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starjobs.mapper.TComAddressMapper">
  <resultMap id="BaseResultMap" type="com.starjobs.pojo.TComAddress">
    <id column="c_com_address_id" jdbcType="INTEGER" property="cComAddressId" />
    <result column="c_province" jdbcType="VARCHAR" property="cProvince" />
    <result column="c_city" jdbcType="VARCHAR" property="cCity" />
    <result column="c_town" jdbcType="VARCHAR" property="cTown" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.starjobs.pojo.TComAddress">
    <result column="c_address_detail" jdbcType="LONGVARCHAR" property="cAddressDetail" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    c_com_address_id, c_province, c_city, c_town
  </sql>
  <sql id="Blob_Column_List">
    c_address_detail
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.starjobs.pojo.TComAddressExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_com_address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.starjobs.pojo.TComAddressExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_com_address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_com_address
    where c_com_address_id = #{cComAddressId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_com_address
    where c_com_address_id = #{cComAddressId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.starjobs.pojo.TComAddressExample">
    delete from t_com_address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.starjobs.pojo.TComAddress">
    insert into t_com_address (c_com_address_id, c_province, c_city, 
      c_town, c_address_detail)
    values (#{cComAddressId,jdbcType=INTEGER}, #{cProvince,jdbcType=VARCHAR}, #{cCity,jdbcType=VARCHAR}, 
      #{cTown,jdbcType=VARCHAR}, #{cAddressDetail,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.starjobs.pojo.TComAddress">
    insert into t_com_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cComAddressId != null">
        c_com_address_id,
      </if>
      <if test="cProvince != null">
        c_province,
      </if>
      <if test="cCity != null">
        c_city,
      </if>
      <if test="cTown != null">
        c_town,
      </if>
      <if test="cAddressDetail != null">
        c_address_detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cComAddressId != null">
        #{cComAddressId,jdbcType=INTEGER},
      </if>
      <if test="cProvince != null">
        #{cProvince,jdbcType=VARCHAR},
      </if>
      <if test="cCity != null">
        #{cCity,jdbcType=VARCHAR},
      </if>
      <if test="cTown != null">
        #{cTown,jdbcType=VARCHAR},
      </if>
      <if test="cAddressDetail != null">
        #{cAddressDetail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.starjobs.pojo.TComAddressExample" resultType="java.lang.Integer">
    select count(*) from t_com_address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_com_address
    <set>
      <if test="record.cComAddressId != null">
        c_com_address_id = #{record.cComAddressId,jdbcType=INTEGER},
      </if>
      <if test="record.cProvince != null">
        c_province = #{record.cProvince,jdbcType=VARCHAR},
      </if>
      <if test="record.cCity != null">
        c_city = #{record.cCity,jdbcType=VARCHAR},
      </if>
      <if test="record.cTown != null">
        c_town = #{record.cTown,jdbcType=VARCHAR},
      </if>
      <if test="record.cAddressDetail != null">
        c_address_detail = #{record.cAddressDetail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update t_com_address
    set c_com_address_id = #{record.cComAddressId,jdbcType=INTEGER},
      c_province = #{record.cProvince,jdbcType=VARCHAR},
      c_city = #{record.cCity,jdbcType=VARCHAR},
      c_town = #{record.cTown,jdbcType=VARCHAR},
      c_address_detail = #{record.cAddressDetail,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_com_address
    set c_com_address_id = #{record.cComAddressId,jdbcType=INTEGER},
      c_province = #{record.cProvince,jdbcType=VARCHAR},
      c_city = #{record.cCity,jdbcType=VARCHAR},
      c_town = #{record.cTown,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.starjobs.pojo.TComAddress">
    update t_com_address
    <set>
      <if test="cProvince != null">
        c_province = #{cProvince,jdbcType=VARCHAR},
      </if>
      <if test="cCity != null">
        c_city = #{cCity,jdbcType=VARCHAR},
      </if>
      <if test="cTown != null">
        c_town = #{cTown,jdbcType=VARCHAR},
      </if>
      <if test="cAddressDetail != null">
        c_address_detail = #{cAddressDetail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where c_com_address_id = #{cComAddressId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.starjobs.pojo.TComAddress">
    update t_com_address
    set c_province = #{cProvince,jdbcType=VARCHAR},
      c_city = #{cCity,jdbcType=VARCHAR},
      c_town = #{cTown,jdbcType=VARCHAR},
      c_address_detail = #{cAddressDetail,jdbcType=LONGVARCHAR}
    where c_com_address_id = #{cComAddressId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.starjobs.pojo.TComAddress">
    update t_com_address
    set c_province = #{cProvince,jdbcType=VARCHAR},
      c_city = #{cCity,jdbcType=VARCHAR},
      c_town = #{cTown,jdbcType=VARCHAR}
    where c_com_address_id = #{cComAddressId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.starjobs.pojo.TComAddress">
    <id column="c_com_address_id" jdbcType="INTEGER" property="cComAddressId" />
    <result column="c_province" jdbcType="VARCHAR" property="cProvince" />
    <result column="c_city" jdbcType="VARCHAR" property="cCity" />
    <result column="c_town" jdbcType="VARCHAR" property="cTown" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.starjobs.pojo.TComAddress">
    <result column="c_address_detail" jdbcType="LONGVARCHAR" property="cAddressDetail" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    c_com_address_id, c_province, c_city, c_town
  </sql>
  <sql id="Blob_Column_List">
    c_address_detail
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.starjobs.pojo.TComAddressExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_com_address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.starjobs.pojo.TComAddressExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_com_address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_com_address
    where c_com_address_id = #{cComAddressId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_com_address
    where c_com_address_id = #{cComAddressId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.starjobs.pojo.TComAddressExample">
    delete from t_com_address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.starjobs.pojo.TComAddress">
    insert into t_com_address (c_com_address_id, c_province, c_city, 
      c_town, c_address_detail)
    values (#{cComAddressId,jdbcType=INTEGER}, #{cProvince,jdbcType=VARCHAR}, #{cCity,jdbcType=VARCHAR}, 
      #{cTown,jdbcType=VARCHAR}, #{cAddressDetail,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.starjobs.pojo.TComAddress">
    insert into t_com_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cComAddressId != null">
        c_com_address_id,
      </if>
      <if test="cProvince != null">
        c_province,
      </if>
      <if test="cCity != null">
        c_city,
      </if>
      <if test="cTown != null">
        c_town,
      </if>
      <if test="cAddressDetail != null">
        c_address_detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cComAddressId != null">
        #{cComAddressId,jdbcType=INTEGER},
      </if>
      <if test="cProvince != null">
        #{cProvince,jdbcType=VARCHAR},
      </if>
      <if test="cCity != null">
        #{cCity,jdbcType=VARCHAR},
      </if>
      <if test="cTown != null">
        #{cTown,jdbcType=VARCHAR},
      </if>
      <if test="cAddressDetail != null">
        #{cAddressDetail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.starjobs.pojo.TComAddressExample" resultType="java.lang.Integer">
    select count(*) from t_com_address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_com_address
    <set>
      <if test="record.cComAddressId != null">
        c_com_address_id = #{record.cComAddressId,jdbcType=INTEGER},
      </if>
      <if test="record.cProvince != null">
        c_province = #{record.cProvince,jdbcType=VARCHAR},
      </if>
      <if test="record.cCity != null">
        c_city = #{record.cCity,jdbcType=VARCHAR},
      </if>
      <if test="record.cTown != null">
        c_town = #{record.cTown,jdbcType=VARCHAR},
      </if>
      <if test="record.cAddressDetail != null">
        c_address_detail = #{record.cAddressDetail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update t_com_address
    set c_com_address_id = #{record.cComAddressId,jdbcType=INTEGER},
      c_province = #{record.cProvince,jdbcType=VARCHAR},
      c_city = #{record.cCity,jdbcType=VARCHAR},
      c_town = #{record.cTown,jdbcType=VARCHAR},
      c_address_detail = #{record.cAddressDetail,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_com_address
    set c_com_address_id = #{record.cComAddressId,jdbcType=INTEGER},
      c_province = #{record.cProvince,jdbcType=VARCHAR},
      c_city = #{record.cCity,jdbcType=VARCHAR},
      c_town = #{record.cTown,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.starjobs.pojo.TComAddress">
    update t_com_address
    <set>
      <if test="cProvince != null">
        c_province = #{cProvince,jdbcType=VARCHAR},
      </if>
      <if test="cCity != null">
        c_city = #{cCity,jdbcType=VARCHAR},
      </if>
      <if test="cTown != null">
        c_town = #{cTown,jdbcType=VARCHAR},
      </if>
      <if test="cAddressDetail != null">
        c_address_detail = #{cAddressDetail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where c_com_address_id = #{cComAddressId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.starjobs.pojo.TComAddress">
    update t_com_address
    set c_province = #{cProvince,jdbcType=VARCHAR},
      c_city = #{cCity,jdbcType=VARCHAR},
      c_town = #{cTown,jdbcType=VARCHAR},
      c_address_detail = #{cAddressDetail,jdbcType=LONGVARCHAR}
    where c_com_address_id = #{cComAddressId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.starjobs.pojo.TComAddress">
    update t_com_address
    set c_province = #{cProvince,jdbcType=VARCHAR},
      c_city = #{cCity,jdbcType=VARCHAR},
      c_town = #{cTown,jdbcType=VARCHAR}
    where c_com_address_id = #{cComAddressId,jdbcType=INTEGER}
  </update>
</mapper>