<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.starjobs.mapper.TCompanyInfoMapper" >
  <resultMap id="BaseResultMap" type="com.starjobs.pojo.TCompanyInfo" >
    <id column="c_com_id" property="cComId" jdbcType="INTEGER" />
    <result column="c_com_phone" property="cComPhone" jdbcType="VARCHAR" />
    <result column="c_com_password" property="cComPassword" jdbcType="VARCHAR" />
    <result column="c_com_name" property="cComName" jdbcType="VARCHAR" />
    <result column="c_com_balance" property="cComBalance" jdbcType="VARCHAR" />
    <result column="c_com_ali_account" property="cComAliAccount" jdbcType="VARCHAR" />
    <result column="c_com_score" property="cComScore" jdbcType="VARCHAR" />
    <result column="c_com_head_img" property="cComHeadImg" jdbcType="VARCHAR" />
    <result column="c_com_address_id" property="cComAddressId" jdbcType="INTEGER" />
    <result column="c_com_license_img" property="cComLicenseImg" jdbcType="VARCHAR" />
    <result column="c_extra_balance" property="cExtraBalance" jdbcType="VARCHAR" />
    <result column="c_user_state" property="cUserState" jdbcType="VARCHAR" />
    <result column="c_com_hasLicense" property="cComHaslicense" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.starjobs.pojo.TCompanyInfo" extends="BaseResultMap" >
    <result column="c_com_desc" property="cComDesc" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    c_com_id, c_com_phone, c_com_password, c_com_name, c_com_balance, c_com_ali_account, 
    c_com_score, c_com_head_img, c_com_address_id, c_com_license_img, c_extra_balance, 
    c_user_state, c_com_hasLicense
  </sql>
  <sql id="Blob_Column_List" >
    c_com_desc
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.starjobs.pojo.TCompanyInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_company_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.starjobs.pojo.TCompanyInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_company_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_company_info
    where c_com_id = #{cComId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_company_info
    where c_com_id = #{cComId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.starjobs.pojo.TCompanyInfoExample" >
    delete from t_company_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.starjobs.pojo.TCompanyInfo" >
    insert into t_company_info (c_com_id, c_com_phone, c_com_password, 
      c_com_name, c_com_balance, c_com_ali_account, 
      c_com_score, c_com_head_img, c_com_address_id, 
      c_com_license_img, c_extra_balance, c_user_state, 
      c_com_hasLicense, c_com_desc)
    values (#{cComId,jdbcType=INTEGER}, #{cComPhone,jdbcType=VARCHAR}, #{cComPassword,jdbcType=VARCHAR}, 
      #{cComName,jdbcType=VARCHAR}, #{cComBalance,jdbcType=VARCHAR}, #{cComAliAccount,jdbcType=VARCHAR}, 
      #{cComScore,jdbcType=VARCHAR}, #{cComHeadImg,jdbcType=VARCHAR}, #{cComAddressId,jdbcType=INTEGER}, 
      #{cComLicenseImg,jdbcType=VARCHAR}, #{cExtraBalance,jdbcType=VARCHAR}, #{cUserState,jdbcType=VARCHAR}, 
      #{cComHaslicense,jdbcType=VARCHAR}, #{cComDesc,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.starjobs.pojo.TCompanyInfo" >
    insert into t_company_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cComId != null" >
        c_com_id,
      </if>
      <if test="cComPhone != null" >
        c_com_phone,
      </if>
      <if test="cComPassword != null" >
        c_com_password,
      </if>
      <if test="cComName != null" >
        c_com_name,
      </if>
      <if test="cComBalance != null" >
        c_com_balance,
      </if>
      <if test="cComAliAccount != null" >
        c_com_ali_account,
      </if>
      <if test="cComScore != null" >
        c_com_score,
      </if>
      <if test="cComHeadImg != null" >
        c_com_head_img,
      </if>
      <if test="cComAddressId != null" >
        c_com_address_id,
      </if>
      <if test="cComLicenseImg != null" >
        c_com_license_img,
      </if>
      <if test="cExtraBalance != null" >
        c_extra_balance,
      </if>
      <if test="cUserState != null" >
        c_user_state,
      </if>
      <if test="cComHaslicense != null" >
        c_com_hasLicense,
      </if>
      <if test="cComDesc != null" >
        c_com_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cComId != null" >
        #{cComId,jdbcType=INTEGER},
      </if>
      <if test="cComPhone != null" >
        #{cComPhone,jdbcType=VARCHAR},
      </if>
      <if test="cComPassword != null" >
        #{cComPassword,jdbcType=VARCHAR},
      </if>
      <if test="cComName != null" >
        #{cComName,jdbcType=VARCHAR},
      </if>
      <if test="cComBalance != null" >
        #{cComBalance,jdbcType=VARCHAR},
      </if>
      <if test="cComAliAccount != null" >
        #{cComAliAccount,jdbcType=VARCHAR},
      </if>
      <if test="cComScore != null" >
        #{cComScore,jdbcType=VARCHAR},
      </if>
      <if test="cComHeadImg != null" >
        #{cComHeadImg,jdbcType=VARCHAR},
      </if>
      <if test="cComAddressId != null" >
        #{cComAddressId,jdbcType=INTEGER},
      </if>
      <if test="cComLicenseImg != null" >
        #{cComLicenseImg,jdbcType=VARCHAR},
      </if>
      <if test="cExtraBalance != null" >
        #{cExtraBalance,jdbcType=VARCHAR},
      </if>
      <if test="cUserState != null" >
        #{cUserState,jdbcType=VARCHAR},
      </if>
      <if test="cComHaslicense != null" >
        #{cComHaslicense,jdbcType=VARCHAR},
      </if>
      <if test="cComDesc != null" >
        #{cComDesc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.starjobs.pojo.TCompanyInfoExample" resultType="java.lang.Integer" >
    select count(*) from t_company_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_company_info
    <set >
      <if test="record.cComId != null" >
        c_com_id = #{record.cComId,jdbcType=INTEGER},
      </if>
      <if test="record.cComPhone != null" >
        c_com_phone = #{record.cComPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.cComPassword != null" >
        c_com_password = #{record.cComPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.cComName != null" >
        c_com_name = #{record.cComName,jdbcType=VARCHAR},
      </if>
      <if test="record.cComBalance != null" >
        c_com_balance = #{record.cComBalance,jdbcType=VARCHAR},
      </if>
      <if test="record.cComAliAccount != null" >
        c_com_ali_account = #{record.cComAliAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.cComScore != null" >
        c_com_score = #{record.cComScore,jdbcType=VARCHAR},
      </if>
      <if test="record.cComHeadImg != null" >
        c_com_head_img = #{record.cComHeadImg,jdbcType=VARCHAR},
      </if>
      <if test="record.cComAddressId != null" >
        c_com_address_id = #{record.cComAddressId,jdbcType=INTEGER},
      </if>
      <if test="record.cComLicenseImg != null" >
        c_com_license_img = #{record.cComLicenseImg,jdbcType=VARCHAR},
      </if>
      <if test="record.cExtraBalance != null" >
        c_extra_balance = #{record.cExtraBalance,jdbcType=VARCHAR},
      </if>
      <if test="record.cUserState != null" >
        c_user_state = #{record.cUserState,jdbcType=VARCHAR},
      </if>
      <if test="record.cComHaslicense != null" >
        c_com_hasLicense = #{record.cComHaslicense,jdbcType=VARCHAR},
      </if>
      <if test="record.cComDesc != null" >
        c_com_desc = #{record.cComDesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update t_company_info
    set c_com_id = #{record.cComId,jdbcType=INTEGER},
      c_com_phone = #{record.cComPhone,jdbcType=VARCHAR},
      c_com_password = #{record.cComPassword,jdbcType=VARCHAR},
      c_com_name = #{record.cComName,jdbcType=VARCHAR},
      c_com_balance = #{record.cComBalance,jdbcType=VARCHAR},
      c_com_ali_account = #{record.cComAliAccount,jdbcType=VARCHAR},
      c_com_score = #{record.cComScore,jdbcType=VARCHAR},
      c_com_head_img = #{record.cComHeadImg,jdbcType=VARCHAR},
      c_com_address_id = #{record.cComAddressId,jdbcType=INTEGER},
      c_com_license_img = #{record.cComLicenseImg,jdbcType=VARCHAR},
      c_extra_balance = #{record.cExtraBalance,jdbcType=VARCHAR},
      c_user_state = #{record.cUserState,jdbcType=VARCHAR},
      c_com_hasLicense = #{record.cComHaslicense,jdbcType=VARCHAR},
      c_com_desc = #{record.cComDesc,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_company_info
    set c_com_id = #{record.cComId,jdbcType=INTEGER},
      c_com_phone = #{record.cComPhone,jdbcType=VARCHAR},
      c_com_password = #{record.cComPassword,jdbcType=VARCHAR},
      c_com_name = #{record.cComName,jdbcType=VARCHAR},
      c_com_balance = #{record.cComBalance,jdbcType=VARCHAR},
      c_com_ali_account = #{record.cComAliAccount,jdbcType=VARCHAR},
      c_com_score = #{record.cComScore,jdbcType=VARCHAR},
      c_com_head_img = #{record.cComHeadImg,jdbcType=VARCHAR},
      c_com_address_id = #{record.cComAddressId,jdbcType=INTEGER},
      c_com_license_img = #{record.cComLicenseImg,jdbcType=VARCHAR},
      c_extra_balance = #{record.cExtraBalance,jdbcType=VARCHAR},
      c_user_state = #{record.cUserState,jdbcType=VARCHAR},
      c_com_hasLicense = #{record.cComHaslicense,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.starjobs.pojo.TCompanyInfo" >
    update t_company_info
    <set >
      <if test="cComPhone != null" >
        c_com_phone = #{cComPhone,jdbcType=VARCHAR},
      </if>
      <if test="cComPassword != null" >
        c_com_password = #{cComPassword,jdbcType=VARCHAR},
      </if>
      <if test="cComName != null" >
        c_com_name = #{cComName,jdbcType=VARCHAR},
      </if>
      <if test="cComBalance != null" >
        c_com_balance = #{cComBalance,jdbcType=VARCHAR},
      </if>
      <if test="cComAliAccount != null" >
        c_com_ali_account = #{cComAliAccount,jdbcType=VARCHAR},
      </if>
      <if test="cComScore != null" >
        c_com_score = #{cComScore,jdbcType=VARCHAR},
      </if>
      <if test="cComHeadImg != null" >
        c_com_head_img = #{cComHeadImg,jdbcType=VARCHAR},
      </if>
      <if test="cComAddressId != null" >
        c_com_address_id = #{cComAddressId,jdbcType=INTEGER},
      </if>
      <if test="cComLicenseImg != null" >
        c_com_license_img = #{cComLicenseImg,jdbcType=VARCHAR},
      </if>
      <if test="cExtraBalance != null" >
        c_extra_balance = #{cExtraBalance,jdbcType=VARCHAR},
      </if>
      <if test="cUserState != null" >
        c_user_state = #{cUserState,jdbcType=VARCHAR},
      </if>
      <if test="cComHaslicense != null" >
        c_com_hasLicense = #{cComHaslicense,jdbcType=VARCHAR},
      </if>
      <if test="cComDesc != null" >
        c_com_desc = #{cComDesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where c_com_id = #{cComId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.starjobs.pojo.TCompanyInfo" >
    update t_company_info
    set c_com_phone = #{cComPhone,jdbcType=VARCHAR},
      c_com_password = #{cComPassword,jdbcType=VARCHAR},
      c_com_name = #{cComName,jdbcType=VARCHAR},
      c_com_balance = #{cComBalance,jdbcType=VARCHAR},
      c_com_ali_account = #{cComAliAccount,jdbcType=VARCHAR},
      c_com_score = #{cComScore,jdbcType=VARCHAR},
      c_com_head_img = #{cComHeadImg,jdbcType=VARCHAR},
      c_com_address_id = #{cComAddressId,jdbcType=INTEGER},
      c_com_license_img = #{cComLicenseImg,jdbcType=VARCHAR},
      c_extra_balance = #{cExtraBalance,jdbcType=VARCHAR},
      c_user_state = #{cUserState,jdbcType=VARCHAR},
      c_com_hasLicense = #{cComHaslicense,jdbcType=VARCHAR},
      c_com_desc = #{cComDesc,jdbcType=LONGVARCHAR}
    where c_com_id = #{cComId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.starjobs.pojo.TCompanyInfo" >
    update t_company_info
    set c_com_phone = #{cComPhone,jdbcType=VARCHAR},
      c_com_password = #{cComPassword,jdbcType=VARCHAR},
      c_com_name = #{cComName,jdbcType=VARCHAR},
      c_com_balance = #{cComBalance,jdbcType=VARCHAR},
      c_com_ali_account = #{cComAliAccount,jdbcType=VARCHAR},
      c_com_score = #{cComScore,jdbcType=VARCHAR},
      c_com_head_img = #{cComHeadImg,jdbcType=VARCHAR},
      c_com_address_id = #{cComAddressId,jdbcType=INTEGER},
      c_com_license_img = #{cComLicenseImg,jdbcType=VARCHAR},
      c_extra_balance = #{cExtraBalance,jdbcType=VARCHAR},
      c_user_state = #{cUserState,jdbcType=VARCHAR},
      c_com_hasLicense = #{cComHaslicense,jdbcType=VARCHAR}
    where c_com_id = #{cComId,jdbcType=INTEGER}
  </update>
  <!-- 更据手机号更新用户密码 -->
  <!--  根据id号更新-->
	<update id="updatePwdByPhoneNum" parameterType="java.lang.String">
		update t_company_info set c_com_password = #{cComPassword,jdbcType=VARCHAR} 
		where c_com_phone = #{cComPhone,jdbcType=VARCHAR}
	</update>
	<!-- 根据手机号查询用户信息 -->
	<select id="selectByPhone" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_company_info
    where c_com_phone = #{cComPhone,jdbcType=VARCHAR}
  </select>
</mapper>