<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.starjobs.mapper.TFriendMapper" >
  <resultMap id="BaseResultMap" type="com.starjobs.pojo.TFriend" >
    <id column="c_id" property="cId" jdbcType="INTEGER" />
    <result column="c_uid" property="cUid" jdbcType="VARCHAR" />
    <result column="c_fid" property="cFid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    c_id, c_uid, c_fid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.starjobs.pojo.TFriendExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_friend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_friend
    where c_id = #{cId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_friend
    where c_id = #{cId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.starjobs.pojo.TFriendExample" >
    delete from t_friend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.starjobs.pojo.TFriend" >
    insert into t_friend (c_id, c_uid, c_fid
      )
    values (#{cId,jdbcType=INTEGER}, #{cUid,jdbcType=VARCHAR}, #{cFid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.starjobs.pojo.TFriend" >
    insert into t_friend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        c_id,
      </if>
      <if test="cUid != null" >
        c_uid,
      </if>
      <if test="cFid != null" >
        c_fid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="cUid != null" >
        #{cUid,jdbcType=VARCHAR},
      </if>
      <if test="cFid != null" >
        #{cFid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.starjobs.pojo.TFriendExample" resultType="java.lang.Integer" >
    select count(*) from t_friend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_friend
    <set >
      <if test="record.cId != null" >
        c_id = #{record.cId,jdbcType=INTEGER},
      </if>
      <if test="record.cUid != null" >
        c_uid = #{record.cUid,jdbcType=VARCHAR},
      </if>
      <if test="record.cFid != null" >
        c_fid = #{record.cFid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_friend
    set c_id = #{record.cId,jdbcType=INTEGER},
      c_uid = #{record.cUid,jdbcType=VARCHAR},
      c_fid = #{record.cFid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.starjobs.pojo.TFriend" >
    update t_friend
    <set >
      <if test="cUid != null" >
        c_uid = #{cUid,jdbcType=VARCHAR},
      </if>
      <if test="cFid != null" >
        c_fid = #{cFid,jdbcType=VARCHAR},
      </if>
    </set>
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.starjobs.pojo.TFriend" >
    update t_friend
    set c_uid = #{cUid,jdbcType=VARCHAR},
      c_fid = #{cFid,jdbcType=VARCHAR}
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
  <!-- 根据 cuid,cfid查找记录 -->
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_friend
    where c_uid = #{cuid,jdbcType=VARCHAR} and c_fid = #{cfid,jdbcType=VARCHAR}
  </select>
  <!-- 根据 cuid查找记录 -->
  <select id="selectByUid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_friend
    where c_uid = #{cuid,jdbcType=VARCHAR} 
  </select>
  <!-- 根据 cfid查找记录 -->
  <select id="selectByFid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_friend
    where  c_fid = #{cfid,jdbcType=VARCHAR}
  </select>
  <!-- 根据条件删除 -->
   <delete id="deleteByChoice" parameterType="java.lang.String" >
    delete from t_friend
    where c_uid = #{cuid,jdbcType=VARCHAR} and c_fid = #{cfid,jdbcType=VARCHAR}
  </delete>
</mapper>