<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.starjobs.mapper.TJobInfoMapper" >
  <resultMap id="BaseResultMap" type="com.starjobs.pojo.TJobInfo" >
    <id column="c_job_id" property="cJobId" jdbcType="INTEGER" />
    <result column="c_com_id" property="cComId" jdbcType="INTEGER" />
    <result column="c_job_city" property="cJobCity" jdbcType="VARCHAR" />
    <result column="c_job_area" property="cJobArea" jdbcType="VARCHAR" />
    <result column="c_job_position" property="cJobPosition" jdbcType="VARCHAR" />
    <result column="c_job_type" property="cJobType" jdbcType="VARCHAR" />
    <result column="c_job_publish_date" property="cJobPublishDate" jdbcType="DATE" />
    <result column="c_job_begin_date" property="cJobBeginDate" jdbcType="DATE" />
    <result column="c_job_end_date" property="cJobEndDate" jdbcType="DATE" />
    <result column="c_job_rest_time" property="cJobRestTime" jdbcType="DATE" />
    <result column="c_job_gather_time" property="cJobGatherTime" jdbcType="DATE" />
    <result column="c_job_gather_location_id" property="cJobGatherLocationId" jdbcType="VARCHAR" />
    <result column="c_job_title" property="cJobTitle" jdbcType="VARCHAR" />
    <result column="c_job_location_id" property="cJobLocationId" jdbcType="INTEGER" />
    <result column="c_job_salary" property="cJobSalary" jdbcType="INTEGER" />
    <result column="c_job_salary_extra" property="cJobSalaryExtra" jdbcType="VARCHAR" />
    <result column="c_job_close_method" property="cJobCloseMethod" jdbcType="VARCHAR" />
    <result column="c_job_choice_op" property="cJobChoiceOp" jdbcType="VARCHAR" />
    <result column="c_job_total_person" property="cJobTotalPerson" jdbcType="INTEGER" />
    <result column="c_job_person_gender" property="cJobPersonGender" jdbcType="VARCHAR" />
    <result column="c_job_state" property="cJobState" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.starjobs.pojo.TJobInfo" extends="BaseResultMap" >
    <result column="c_job_desc" property="cJobDesc" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    c_job_id, c_com_id, c_job_city, c_job_area, c_job_position, c_job_type, c_job_publish_date, 
    c_job_begin_date, c_job_end_date, c_job_rest_time, c_job_gather_time, c_job_gather_location_id, 
    c_job_title, c_job_location_id, c_job_salary, c_job_salary_extra, c_job_close_method, 
    c_job_choice_op, c_job_total_person, c_job_person_gender, c_job_state
  </sql>
  <sql id="Blob_Column_List" >
    c_job_desc
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.starjobs.pojo.TJobInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_job_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.starjobs.pojo.TJobInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_job_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_job_info
    where c_job_id = #{cJobId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_job_info
    where c_job_id = #{cJobId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.starjobs.pojo.TJobInfoExample" >
    delete from t_job_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.starjobs.pojo.TJobInfo" >
    insert into t_job_info (c_job_id, c_com_id, c_job_city, 
      c_job_area, c_job_position, c_job_type, 
      c_job_publish_date, c_job_begin_date, c_job_end_date, 
      c_job_rest_time, c_job_gather_time, c_job_gather_location_id, 
      c_job_title, c_job_location_id, c_job_salary, 
      c_job_salary_extra, c_job_close_method, c_job_choice_op, 
      c_job_total_person, c_job_person_gender, c_job_state, 
      c_job_desc)
    values (#{cJobId,jdbcType=INTEGER}, #{cComId,jdbcType=INTEGER}, #{cJobCity,jdbcType=VARCHAR}, 
      #{cJobArea,jdbcType=VARCHAR}, #{cJobPosition,jdbcType=VARCHAR}, #{cJobType,jdbcType=VARCHAR}, 
      #{cJobPublishDate,jdbcType=DATE}, #{cJobBeginDate,jdbcType=DATE}, #{cJobEndDate,jdbcType=DATE}, 
      #{cJobRestTime,jdbcType=DATE}, #{cJobGatherTime,jdbcType=DATE}, #{cJobGatherLocationId,jdbcType=VARCHAR}, 
      #{cJobTitle,jdbcType=VARCHAR}, #{cJobLocationId,jdbcType=INTEGER}, #{cJobSalary,jdbcType=INTEGER}, 
      #{cJobSalaryExtra,jdbcType=VARCHAR}, #{cJobCloseMethod,jdbcType=VARCHAR}, #{cJobChoiceOp,jdbcType=VARCHAR}, 
      #{cJobTotalPerson,jdbcType=INTEGER}, #{cJobPersonGender,jdbcType=VARCHAR}, #{cJobState,jdbcType=VARCHAR}, 
      #{cJobDesc,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.starjobs.pojo.TJobInfo" >
    insert into t_job_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cJobId != null" >
        c_job_id,
      </if>
      <if test="cComId != null" >
        c_com_id,
      </if>
      <if test="cJobCity != null" >
        c_job_city,
      </if>
      <if test="cJobArea != null" >
        c_job_area,
      </if>
      <if test="cJobPosition != null" >
        c_job_position,
      </if>
      <if test="cJobType != null" >
        c_job_type,
      </if>
      <if test="cJobPublishDate != null" >
        c_job_publish_date,
      </if>
      <if test="cJobBeginDate != null" >
        c_job_begin_date,
      </if>
      <if test="cJobEndDate != null" >
        c_job_end_date,
      </if>
      <if test="cJobRestTime != null" >
        c_job_rest_time,
      </if>
      <if test="cJobGatherTime != null" >
        c_job_gather_time,
      </if>
      <if test="cJobGatherLocationId != null" >
        c_job_gather_location_id,
      </if>
      <if test="cJobTitle != null" >
        c_job_title,
      </if>
      <if test="cJobLocationId != null" >
        c_job_location_id,
      </if>
      <if test="cJobSalary != null" >
        c_job_salary,
      </if>
      <if test="cJobSalaryExtra != null" >
        c_job_salary_extra,
      </if>
      <if test="cJobCloseMethod != null" >
        c_job_close_method,
      </if>
      <if test="cJobChoiceOp != null" >
        c_job_choice_op,
      </if>
      <if test="cJobTotalPerson != null" >
        c_job_total_person,
      </if>
      <if test="cJobPersonGender != null" >
        c_job_person_gender,
      </if>
      <if test="cJobState != null" >
        c_job_state,
      </if>
      <if test="cJobDesc != null" >
        c_job_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cJobId != null" >
        #{cJobId,jdbcType=INTEGER},
      </if>
      <if test="cComId != null" >
        #{cComId,jdbcType=INTEGER},
      </if>
      <if test="cJobCity != null" >
        #{cJobCity,jdbcType=VARCHAR},
      </if>
      <if test="cJobArea != null" >
        #{cJobArea,jdbcType=VARCHAR},
      </if>
      <if test="cJobPosition != null" >
        #{cJobPosition,jdbcType=VARCHAR},
      </if>
      <if test="cJobType != null" >
        #{cJobType,jdbcType=VARCHAR},
      </if>
      <if test="cJobPublishDate != null" >
        #{cJobPublishDate,jdbcType=DATE},
      </if>
      <if test="cJobBeginDate != null" >
        #{cJobBeginDate,jdbcType=DATE},
      </if>
      <if test="cJobEndDate != null" >
        #{cJobEndDate,jdbcType=DATE},
      </if>
      <if test="cJobRestTime != null" >
        #{cJobRestTime,jdbcType=DATE},
      </if>
      <if test="cJobGatherTime != null" >
        #{cJobGatherTime,jdbcType=DATE},
      </if>
      <if test="cJobGatherLocationId != null" >
        #{cJobGatherLocationId,jdbcType=VARCHAR},
      </if>
      <if test="cJobTitle != null" >
        #{cJobTitle,jdbcType=VARCHAR},
      </if>
      <if test="cJobLocationId != null" >
        #{cJobLocationId,jdbcType=INTEGER},
      </if>
      <if test="cJobSalary != null" >
        #{cJobSalary,jdbcType=INTEGER},
      </if>
      <if test="cJobSalaryExtra != null" >
        #{cJobSalaryExtra,jdbcType=VARCHAR},
      </if>
      <if test="cJobCloseMethod != null" >
        #{cJobCloseMethod,jdbcType=VARCHAR},
      </if>
      <if test="cJobChoiceOp != null" >
        #{cJobChoiceOp,jdbcType=VARCHAR},
      </if>
      <if test="cJobTotalPerson != null" >
        #{cJobTotalPerson,jdbcType=INTEGER},
      </if>
      <if test="cJobPersonGender != null" >
        #{cJobPersonGender,jdbcType=VARCHAR},
      </if>
      <if test="cJobState != null" >
        #{cJobState,jdbcType=VARCHAR},
      </if>
      <if test="cJobDesc != null" >
        #{cJobDesc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.starjobs.pojo.TJobInfoExample" resultType="java.lang.Integer" >
    select count(*) from t_job_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_job_info
    <set >
      <if test="record.cJobId != null" >
        c_job_id = #{record.cJobId,jdbcType=INTEGER},
      </if>
      <if test="record.cComId != null" >
        c_com_id = #{record.cComId,jdbcType=INTEGER},
      </if>
      <if test="record.cJobCity != null" >
        c_job_city = #{record.cJobCity,jdbcType=VARCHAR},
      </if>
      <if test="record.cJobArea != null" >
        c_job_area = #{record.cJobArea,jdbcType=VARCHAR},
      </if>
      <if test="record.cJobPosition != null" >
        c_job_position = #{record.cJobPosition,jdbcType=VARCHAR},
      </if>
      <if test="record.cJobType != null" >
        c_job_type = #{record.cJobType,jdbcType=VARCHAR},
      </if>
      <if test="record.cJobPublishDate != null" >
        c_job_publish_date = #{record.cJobPublishDate,jdbcType=DATE},
      </if>
      <if test="record.cJobBeginDate != null" >
        c_job_begin_date = #{record.cJobBeginDate,jdbcType=DATE},
      </if>
      <if test="record.cJobEndDate != null" >
        c_job_end_date = #{record.cJobEndDate,jdbcType=DATE},
      </if>
      <if test="record.cJobRestTime != null" >
        c_job_rest_time = #{record.cJobRestTime,jdbcType=DATE},
      </if>
      <if test="record.cJobGatherTime != null" >
        c_job_gather_time = #{record.cJobGatherTime,jdbcType=DATE},
      </if>
      <if test="record.cJobGatherLocationId != null" >
        c_job_gather_location_id = #{record.cJobGatherLocationId,jdbcType=VARCHAR},
      </if>
      <if test="record.cJobTitle != null" >
        c_job_title = #{record.cJobTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.cJobLocationId != null" >
        c_job_location_id = #{record.cJobLocationId,jdbcType=INTEGER},
      </if>
      <if test="record.cJobSalary != null" >
        c_job_salary = #{record.cJobSalary,jdbcType=INTEGER},
      </if>
      <if test="record.cJobSalaryExtra != null" >
        c_job_salary_extra = #{record.cJobSalaryExtra,jdbcType=VARCHAR},
      </if>
      <if test="record.cJobCloseMethod != null" >
        c_job_close_method = #{record.cJobCloseMethod,jdbcType=VARCHAR},
      </if>
      <if test="record.cJobChoiceOp != null" >
        c_job_choice_op = #{record.cJobChoiceOp,jdbcType=VARCHAR},
      </if>
      <if test="record.cJobTotalPerson != null" >
        c_job_total_person = #{record.cJobTotalPerson,jdbcType=INTEGER},
      </if>
      <if test="record.cJobPersonGender != null" >
        c_job_person_gender = #{record.cJobPersonGender,jdbcType=VARCHAR},
      </if>
      <if test="record.cJobState != null" >
        c_job_state = #{record.cJobState,jdbcType=VARCHAR},
      </if>
      <if test="record.cJobDesc != null" >
        c_job_desc = #{record.cJobDesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update t_job_info
    set c_job_id = #{record.cJobId,jdbcType=INTEGER},
      c_com_id = #{record.cComId,jdbcType=INTEGER},
      c_job_city = #{record.cJobCity,jdbcType=VARCHAR},
      c_job_area = #{record.cJobArea,jdbcType=VARCHAR},
      c_job_position = #{record.cJobPosition,jdbcType=VARCHAR},
      c_job_type = #{record.cJobType,jdbcType=VARCHAR},
      c_job_publish_date = #{record.cJobPublishDate,jdbcType=DATE},
      c_job_begin_date = #{record.cJobBeginDate,jdbcType=DATE},
      c_job_end_date = #{record.cJobEndDate,jdbcType=DATE},
      c_job_rest_time = #{record.cJobRestTime,jdbcType=DATE},
      c_job_gather_time = #{record.cJobGatherTime,jdbcType=DATE},
      c_job_gather_location_id = #{record.cJobGatherLocationId,jdbcType=VARCHAR},
      c_job_title = #{record.cJobTitle,jdbcType=VARCHAR},
      c_job_location_id = #{record.cJobLocationId,jdbcType=INTEGER},
      c_job_salary = #{record.cJobSalary,jdbcType=INTEGER},
      c_job_salary_extra = #{record.cJobSalaryExtra,jdbcType=VARCHAR},
      c_job_close_method = #{record.cJobCloseMethod,jdbcType=VARCHAR},
      c_job_choice_op = #{record.cJobChoiceOp,jdbcType=VARCHAR},
      c_job_total_person = #{record.cJobTotalPerson,jdbcType=INTEGER},
      c_job_person_gender = #{record.cJobPersonGender,jdbcType=VARCHAR},
      c_job_state = #{record.cJobState,jdbcType=VARCHAR},
      c_job_desc = #{record.cJobDesc,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_job_info
    set c_job_id = #{record.cJobId,jdbcType=INTEGER},
      c_com_id = #{record.cComId,jdbcType=INTEGER},
      c_job_city = #{record.cJobCity,jdbcType=VARCHAR},
      c_job_area = #{record.cJobArea,jdbcType=VARCHAR},
      c_job_position = #{record.cJobPosition,jdbcType=VARCHAR},
      c_job_type = #{record.cJobType,jdbcType=VARCHAR},
      c_job_publish_date = #{record.cJobPublishDate,jdbcType=DATE},
      c_job_begin_date = #{record.cJobBeginDate,jdbcType=DATE},
      c_job_end_date = #{record.cJobEndDate,jdbcType=DATE},
      c_job_rest_time = #{record.cJobRestTime,jdbcType=DATE},
      c_job_gather_time = #{record.cJobGatherTime,jdbcType=DATE},
      c_job_gather_location_id = #{record.cJobGatherLocationId,jdbcType=VARCHAR},
      c_job_title = #{record.cJobTitle,jdbcType=VARCHAR},
      c_job_location_id = #{record.cJobLocationId,jdbcType=INTEGER},
      c_job_salary = #{record.cJobSalary,jdbcType=INTEGER},
      c_job_salary_extra = #{record.cJobSalaryExtra,jdbcType=VARCHAR},
      c_job_close_method = #{record.cJobCloseMethod,jdbcType=VARCHAR},
      c_job_choice_op = #{record.cJobChoiceOp,jdbcType=VARCHAR},
      c_job_total_person = #{record.cJobTotalPerson,jdbcType=INTEGER},
      c_job_person_gender = #{record.cJobPersonGender,jdbcType=VARCHAR},
      c_job_state = #{record.cJobState,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.starjobs.pojo.TJobInfo" >
    update t_job_info
    <set >
      <if test="cComId != null" >
        c_com_id = #{cComId,jdbcType=INTEGER},
      </if>
      <if test="cJobCity != null" >
        c_job_city = #{cJobCity,jdbcType=VARCHAR},
      </if>
      <if test="cJobArea != null" >
        c_job_area = #{cJobArea,jdbcType=VARCHAR},
      </if>
      <if test="cJobPosition != null" >
        c_job_position = #{cJobPosition,jdbcType=VARCHAR},
      </if>
      <if test="cJobType != null" >
        c_job_type = #{cJobType,jdbcType=VARCHAR},
      </if>
      <if test="cJobPublishDate != null" >
        c_job_publish_date = #{cJobPublishDate,jdbcType=DATE},
      </if>
      <if test="cJobBeginDate != null" >
        c_job_begin_date = #{cJobBeginDate,jdbcType=DATE},
      </if>
      <if test="cJobEndDate != null" >
        c_job_end_date = #{cJobEndDate,jdbcType=DATE},
      </if>
      <if test="cJobRestTime != null" >
        c_job_rest_time = #{cJobRestTime,jdbcType=DATE},
      </if>
      <if test="cJobGatherTime != null" >
        c_job_gather_time = #{cJobGatherTime,jdbcType=DATE},
      </if>
      <if test="cJobGatherLocationId != null" >
        c_job_gather_location_id = #{cJobGatherLocationId,jdbcType=VARCHAR},
      </if>
      <if test="cJobTitle != null" >
        c_job_title = #{cJobTitle,jdbcType=VARCHAR},
      </if>
      <if test="cJobLocationId != null" >
        c_job_location_id = #{cJobLocationId,jdbcType=INTEGER},
      </if>
      <if test="cJobSalary != null" >
        c_job_salary = #{cJobSalary,jdbcType=INTEGER},
      </if>
      <if test="cJobSalaryExtra != null" >
        c_job_salary_extra = #{cJobSalaryExtra,jdbcType=VARCHAR},
      </if>
      <if test="cJobCloseMethod != null" >
        c_job_close_method = #{cJobCloseMethod,jdbcType=VARCHAR},
      </if>
      <if test="cJobChoiceOp != null" >
        c_job_choice_op = #{cJobChoiceOp,jdbcType=VARCHAR},
      </if>
      <if test="cJobTotalPerson != null" >
        c_job_total_person = #{cJobTotalPerson,jdbcType=INTEGER},
      </if>
      <if test="cJobPersonGender != null" >
        c_job_person_gender = #{cJobPersonGender,jdbcType=VARCHAR},
      </if>
      <if test="cJobState != null" >
        c_job_state = #{cJobState,jdbcType=VARCHAR},
      </if>
      <if test="cJobDesc != null" >
        c_job_desc = #{cJobDesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where c_job_id = #{cJobId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.starjobs.pojo.TJobInfo" >
    update t_job_info
    set c_com_id = #{cComId,jdbcType=INTEGER},
      c_job_city = #{cJobCity,jdbcType=VARCHAR},
      c_job_area = #{cJobArea,jdbcType=VARCHAR},
      c_job_position = #{cJobPosition,jdbcType=VARCHAR},
      c_job_type = #{cJobType,jdbcType=VARCHAR},
      c_job_publish_date = #{cJobPublishDate,jdbcType=DATE},
      c_job_begin_date = #{cJobBeginDate,jdbcType=DATE},
      c_job_end_date = #{cJobEndDate,jdbcType=DATE},
      c_job_rest_time = #{cJobRestTime,jdbcType=DATE},
      c_job_gather_time = #{cJobGatherTime,jdbcType=DATE},
      c_job_gather_location_id = #{cJobGatherLocationId,jdbcType=VARCHAR},
      c_job_title = #{cJobTitle,jdbcType=VARCHAR},
      c_job_location_id = #{cJobLocationId,jdbcType=INTEGER},
      c_job_salary = #{cJobSalary,jdbcType=INTEGER},
      c_job_salary_extra = #{cJobSalaryExtra,jdbcType=VARCHAR},
      c_job_close_method = #{cJobCloseMethod,jdbcType=VARCHAR},
      c_job_choice_op = #{cJobChoiceOp,jdbcType=VARCHAR},
      c_job_total_person = #{cJobTotalPerson,jdbcType=INTEGER},
      c_job_person_gender = #{cJobPersonGender,jdbcType=VARCHAR},
      c_job_state = #{cJobState,jdbcType=VARCHAR},
      c_job_desc = #{cJobDesc,jdbcType=LONGVARCHAR}
    where c_job_id = #{cJobId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.starjobs.pojo.TJobInfo" >
    update t_job_info
    set c_com_id = #{cComId,jdbcType=INTEGER},
      c_job_city = #{cJobCity,jdbcType=VARCHAR},
      c_job_area = #{cJobArea,jdbcType=VARCHAR},
      c_job_position = #{cJobPosition,jdbcType=VARCHAR},
      c_job_type = #{cJobType,jdbcType=VARCHAR},
      c_job_publish_date = #{cJobPublishDate,jdbcType=DATE},
      c_job_begin_date = #{cJobBeginDate,jdbcType=DATE},
      c_job_end_date = #{cJobEndDate,jdbcType=DATE},
      c_job_rest_time = #{cJobRestTime,jdbcType=DATE},
      c_job_gather_time = #{cJobGatherTime,jdbcType=DATE},
      c_job_gather_location_id = #{cJobGatherLocationId,jdbcType=VARCHAR},
      c_job_title = #{cJobTitle,jdbcType=VARCHAR},
      c_job_location_id = #{cJobLocationId,jdbcType=INTEGER},
      c_job_salary = #{cJobSalary,jdbcType=INTEGER},
      c_job_salary_extra = #{cJobSalaryExtra,jdbcType=VARCHAR},
      c_job_close_method = #{cJobCloseMethod,jdbcType=VARCHAR},
      c_job_choice_op = #{cJobChoiceOp,jdbcType=VARCHAR},
      c_job_total_person = #{cJobTotalPerson,jdbcType=INTEGER},
      c_job_person_gender = #{cJobPersonGender,jdbcType=VARCHAR},
      c_job_state = #{cJobState,jdbcType=VARCHAR}
    where c_job_id = #{cJobId,jdbcType=INTEGER}
  </update>
</mapper>