<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.starjobs.mapper.TUserJobApplyMapper" >
  <resultMap id="BaseResultMap" type="com.starjobs.pojo.TUserJobApply" >
    <id column="c_apply_id" property="cApplyId" jdbcType="INTEGER" />
    <result column="c_user_id" property="cUserId" jdbcType="INTEGER" />
    <result column="c_job_id" property="cJobId" jdbcType="INTEGER" />
    <result column="c_apply_time" property="cApplyTime" jdbcType="DATE" />
    <result column="c_apply_state" property="cApplyState" jdbcType="VARCHAR" />
    <result column="c_apply_desc" property="cApplyDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    c_apply_id, c_user_id, c_job_id, c_apply_time, c_apply_state, c_apply_desc
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.starjobs.pojo.TUserJobApplyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user_job_apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user_job_apply
    where c_apply_id = #{cApplyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user_job_apply
    where c_apply_id = #{cApplyId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.starjobs.pojo.TUserJobApplyExample" >
    delete from t_user_job_apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.starjobs.pojo.TUserJobApply" >
    insert into t_user_job_apply (c_apply_id, c_user_id, c_job_id, 
      c_apply_time, c_apply_state, c_apply_desc
      )
    values (#{cApplyId,jdbcType=INTEGER}, #{cUserId,jdbcType=INTEGER}, #{cJobId,jdbcType=INTEGER}, 
      #{cApplyTime,jdbcType=DATE}, #{cApplyState,jdbcType=VARCHAR}, #{cApplyDesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.starjobs.pojo.TUserJobApply" >
    insert into t_user_job_apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cApplyId != null" >
        c_apply_id,
      </if>
      <if test="cUserId != null" >
        c_user_id,
      </if>
      <if test="cJobId != null" >
        c_job_id,
      </if>
      <if test="cApplyTime != null" >
        c_apply_time,
      </if>
      <if test="cApplyState != null" >
        c_apply_state,
      </if>
      <if test="cApplyDesc != null" >
        c_apply_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cApplyId != null" >
        #{cApplyId,jdbcType=INTEGER},
      </if>
      <if test="cUserId != null" >
        #{cUserId,jdbcType=INTEGER},
      </if>
      <if test="cJobId != null" >
        #{cJobId,jdbcType=INTEGER},
      </if>
      <if test="cApplyTime != null" >
        #{cApplyTime,jdbcType=DATE},
      </if>
      <if test="cApplyState != null" >
        #{cApplyState,jdbcType=VARCHAR},
      </if>
      <if test="cApplyDesc != null" >
        #{cApplyDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.starjobs.pojo.TUserJobApplyExample" resultType="java.lang.Integer" >
    select count(*) from t_user_job_apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_user_job_apply
    <set >
      <if test="record.cApplyId != null" >
        c_apply_id = #{record.cApplyId,jdbcType=INTEGER},
      </if>
      <if test="record.cUserId != null" >
        c_user_id = #{record.cUserId,jdbcType=INTEGER},
      </if>
      <if test="record.cJobId != null" >
        c_job_id = #{record.cJobId,jdbcType=INTEGER},
      </if>
      <if test="record.cApplyTime != null" >
        c_apply_time = #{record.cApplyTime,jdbcType=DATE},
      </if>
      <if test="record.cApplyState != null" >
        c_apply_state = #{record.cApplyState,jdbcType=VARCHAR},
      </if>
      <if test="record.cApplyDesc != null" >
        c_apply_desc = #{record.cApplyDesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_user_job_apply
    set c_apply_id = #{record.cApplyId,jdbcType=INTEGER},
      c_user_id = #{record.cUserId,jdbcType=INTEGER},
      c_job_id = #{record.cJobId,jdbcType=INTEGER},
      c_apply_time = #{record.cApplyTime,jdbcType=DATE},
      c_apply_state = #{record.cApplyState,jdbcType=VARCHAR},
      c_apply_desc = #{record.cApplyDesc,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.starjobs.pojo.TUserJobApply" >
    update t_user_job_apply
    <set >
      <if test="cUserId != null" >
        c_user_id = #{cUserId,jdbcType=INTEGER},
      </if>
      <if test="cJobId != null" >
        c_job_id = #{cJobId,jdbcType=INTEGER},
      </if>
      <if test="cApplyTime != null" >
        c_apply_time = #{cApplyTime,jdbcType=DATE},
      </if>
      <if test="cApplyState != null" >
        c_apply_state = #{cApplyState,jdbcType=VARCHAR},
      </if>
      <if test="cApplyDesc != null" >
        c_apply_desc = #{cApplyDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where c_apply_id = #{cApplyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.starjobs.pojo.TUserJobApply" >
    update t_user_job_apply
    set c_user_id = #{cUserId,jdbcType=INTEGER},
      c_job_id = #{cJobId,jdbcType=INTEGER},
      c_apply_time = #{cApplyTime,jdbcType=DATE},
      c_apply_state = #{cApplyState,jdbcType=VARCHAR},
      c_apply_desc = #{cApplyDesc,jdbcType=VARCHAR}
    where c_apply_id = #{cApplyId,jdbcType=INTEGER}
  </update>
</mapper>