<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.starjobs.mapper.TWithdrawVerifyMapper" >
  <resultMap id="BaseResultMap" type="com.starjobs.pojo.TWithdrawVerify" >
    <id column="c_verify_id" property="cVerifyId" jdbcType="INTEGER" />
    <result column="c_user_id" property="cUserId" jdbcType="INTEGER" />
    <result column="c_withdraw_money" property="cWithdrawMoney" jdbcType="INTEGER" />
    <result column="c_user_ali_account" property="cUserAliAccount" jdbcType="VARCHAR" />
    <result column="c_verify_state" property="cVerifyState" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    c_verify_id, c_user_id, c_withdraw_money, c_user_ali_account, c_verify_state
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.starjobs.pojo.TWithdrawVerifyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_withdraw_verify
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_withdraw_verify
    where c_verify_id = #{cVerifyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_withdraw_verify
    where c_verify_id = #{cVerifyId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.starjobs.pojo.TWithdrawVerifyExample" >
    delete from t_withdraw_verify
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.starjobs.pojo.TWithdrawVerify" >
    insert into t_withdraw_verify (c_verify_id, c_user_id, c_withdraw_money, 
      c_user_ali_account, c_verify_state)
    values (#{cVerifyId,jdbcType=INTEGER}, #{cUserId,jdbcType=INTEGER}, #{cWithdrawMoney,jdbcType=INTEGER}, 
      #{cUserAliAccount,jdbcType=VARCHAR}, #{cVerifyState,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.starjobs.pojo.TWithdrawVerify" >
    insert into t_withdraw_verify
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cVerifyId != null" >
        c_verify_id,
      </if>
      <if test="cUserId != null" >
        c_user_id,
      </if>
      <if test="cWithdrawMoney != null" >
        c_withdraw_money,
      </if>
      <if test="cUserAliAccount != null" >
        c_user_ali_account,
      </if>
      <if test="cVerifyState != null" >
        c_verify_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cVerifyId != null" >
        #{cVerifyId,jdbcType=INTEGER},
      </if>
      <if test="cUserId != null" >
        #{cUserId,jdbcType=INTEGER},
      </if>
      <if test="cWithdrawMoney != null" >
        #{cWithdrawMoney,jdbcType=INTEGER},
      </if>
      <if test="cUserAliAccount != null" >
        #{cUserAliAccount,jdbcType=VARCHAR},
      </if>
      <if test="cVerifyState != null" >
        #{cVerifyState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.starjobs.pojo.TWithdrawVerifyExample" resultType="java.lang.Integer" >
    select count(*) from t_withdraw_verify
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_withdraw_verify
    <set >
      <if test="record.cVerifyId != null" >
        c_verify_id = #{record.cVerifyId,jdbcType=INTEGER},
      </if>
      <if test="record.cUserId != null" >
        c_user_id = #{record.cUserId,jdbcType=INTEGER},
      </if>
      <if test="record.cWithdrawMoney != null" >
        c_withdraw_money = #{record.cWithdrawMoney,jdbcType=INTEGER},
      </if>
      <if test="record.cUserAliAccount != null" >
        c_user_ali_account = #{record.cUserAliAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.cVerifyState != null" >
        c_verify_state = #{record.cVerifyState,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_withdraw_verify
    set c_verify_id = #{record.cVerifyId,jdbcType=INTEGER},
      c_user_id = #{record.cUserId,jdbcType=INTEGER},
      c_withdraw_money = #{record.cWithdrawMoney,jdbcType=INTEGER},
      c_user_ali_account = #{record.cUserAliAccount,jdbcType=VARCHAR},
      c_verify_state = #{record.cVerifyState,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.starjobs.pojo.TWithdrawVerify" >
    update t_withdraw_verify
    <set >
      <if test="cUserId != null" >
        c_user_id = #{cUserId,jdbcType=INTEGER},
      </if>
      <if test="cWithdrawMoney != null" >
        c_withdraw_money = #{cWithdrawMoney,jdbcType=INTEGER},
      </if>
      <if test="cUserAliAccount != null" >
        c_user_ali_account = #{cUserAliAccount,jdbcType=VARCHAR},
      </if>
      <if test="cVerifyState != null" >
        c_verify_state = #{cVerifyState,jdbcType=VARCHAR},
      </if>
    </set>
    where c_verify_id = #{cVerifyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.starjobs.pojo.TWithdrawVerify" >
    update t_withdraw_verify
    set c_user_id = #{cUserId,jdbcType=INTEGER},
      c_withdraw_money = #{cWithdrawMoney,jdbcType=INTEGER},
      c_user_ali_account = #{cUserAliAccount,jdbcType=VARCHAR},
      c_verify_state = #{cVerifyState,jdbcType=VARCHAR}
    where c_verify_id = #{cVerifyId,jdbcType=INTEGER}
  </update>
</mapper>